name: Pull request check

on:
  pull_request:
    types: [opened, synchronize, reopened]


jobs:
  
  # Flake
  flake:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install flake8
        run: pip install flake8
      - name: Lint with flake8 
        run: flake8 ./plugin.video.catchuptvandmore

  # Branch check
  branch:
    name: Branch
    runs-on: ubuntu-latest
    if: github.base_ref != 'dev'
    steps:
      - name: Branch dev check
        run: |
          echo "Pull request need to be done on dev branch and not on ${{ github.base_ref }}"
          exit 1
